body{
    background-color: cadetblue;
}

#visitorButton{
    color:green;
    border-radius: 50px;
    background-color: lightgray;
}

#staffButton{
    color:green;
    border-radius: 50px;
    background-color: lightgray;
    margin: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}