<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function validateForm() {
            var phoneNumber = document.getElementById("phonenumber").value.replace(/-/g, ''); // Remove dashes
            var email = document.getElementById("email").value;
            var phoneNumberPattern = /^[0-9]{10}$/;
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
   
            if (!phoneNumber.match(phoneNumberPattern)) {
                alert("Phone number must be ten digits and NO dashes.");
                return false;
            }
   
            if (!email.match(emailPattern)) {
                alert("Please enter a valid email address.");
                return false;
            }
   
            return true;
        }
    </script>
   
    <title>Visitor Registration</title>
</head>

<body>
    <div class="container">
        <h1>Visitor Registration</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form action="/register" method="post" onsubmit="return validateForm()">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" required><br><br>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" required><br><br>
            <label for="residentname">Resident Name:</label>
            <input type="text" id="residentname" name="residentname" required><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            <label for="phonenumber">Phone Number:</label>
            <input type="tel" id="phonenumber" name="phonenumber" pattern="[0-9]{10}" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>





