<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Visitors</title>
</head>

<body>
    {% if type == 'checked_in' %}
        <h1>Checked In Visitors</h1>
        <ul>
            {% for visitor in checked_in_visitors %}
                <li>{{ visitor.name }} - {{ visitor.email }} (Checked In)</li>
            {% endfor %}
        </ul>
    {% elif type == 'checked_out' %}
        <h1>Checked Out Visitors</h1>
        <ul>
            {% for visitor in visitors %}
                {% if visitor not in checked_in_visitors %}
                    <li>{{ visitor.name }} - {{ visitor.email }} (Checked Out)</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% elif type == 'registered' %}
        <h1>Visitors Database</h1>
        <ul>
            {% for visitor in visitors %}
                <li>{{ visitor.name }} - {{ visitor.email }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>





